@page
@model Razor.Pages.indexModel
@{
    
}

<!DOCTYPE html>

<html>
    <head>
        <body>
                @for(var i = 0; i <=10; i++)
                {
                    <p>@i</p>
                }
        </body>
    </head>
</html>